*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media  (max-width:740px){
    body,.contenido,.col-4{
        width: 90%;
         }
        }
    
.background {
    /*background-image: url(../img/fondo_pagina.jpg);*/
    background-color: rgb(3, 19, 41);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: azure;

}

.img_per{
width: 150px;
height: 175px;    
border-radius: 50px ;
border-color: rgb(245, 247, 247);
border-style: solid;
box-shadow: 50%;
}

.box0{
   
    color:black;
    height: 150px;
    margin-top: 10px;
  display: flex;
  padding: 20px;
  background-color: azure;
  border-radius: 50px ;
}

.box1{
 
        margin-top: -125px;
        width: 350px;
        display: flex;
        height: 50vh;
        justify-content: flex-start;
        align-items: center;
        justify-content: center;
        }
.box2{
    margin-top: -125px;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }
 .box3{
    margin-top: -50px;
    width: 300px;
    display: flex;
    height: 50vh;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }
 .box4{
    margin-top: -50px;
    display: flex;
    height: 50vh;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }


.contenido{

    margin-top: 50px;

}


