.encabezado{
    background-color: rgb(136, 169, 189); 
    border: solid 1px;
    border-color: beige;

}




.col{
    background-color: rgb(164, 175, 197); 
    border: solid 1px;
    border-color: beige;

}

#respuesta, #base, #iva{
    background-color: rgb(105, 129, 175); 


    border: solid 1px;
    border-color: beige;

}
