.encabezado{
    background-color: rgb(140, 197, 197); 
}

.encabezado1{
    background-color: rgb(105, 129, 175); 
}



div{
    background-color: rgb(190, 208, 243); 


    border: solid 1px;
    border-color: beige;

}

#respuesta, #base, #iva{
    background-color: rgb(105, 129, 175); 
    width: 100%;
    height: 75%;

    border: solid 1px;
    border-color: beige;

}